<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>This is example page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, excepturi a? Dicta dolorem mollitia
            architecto
            est blanditiis, minima iure asperiores ducimus ea obcaecati fugiat, illum inventore recusandae
            necessitatibus
            non voluptates officia fuga neque magnam sequi. Sunt dignissimos quibusdam, qui non dolores quae optio quia
            vel
            cum laboriosam culpa facere voluptatem!</p>
    </div>

    <img th:src="@{/images/download.jfif}" alt="" srcset="">

    <script th:src="@{/js/myscript.js}"></script>
</body>

</html>